<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=utf-8" http-equiv="content-type">
    <link href="static/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="static/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet">
    <title>Smart Stone Home</title>
</head>
<body>
    <div id="stts" class="stts">
        <div class="sttsTitl">Smart Stone Home Trud</div>
        <div id="sttsServTextTemp" class="sttsText"> 0 °C</div>
        <div id="sttsServTextHmdt" class="sttsText"> 0 %</div>
    </div>

    <div id="clmt" class="main">
        <label for="clmt">Climate</label>

        <div id="clmtServ" class="lvl1Serv">
            <label for="clmtServ">On / Off</label>
            <div class="swtcBlck">
                <div class="swtcBoxx">
                    <label for="swtcServclmtSwtc" class="swtc">
                        <input type="checkbox" class="checkbox" id="swtcServclmtSwtc">
                        <span class="rondSwtc"></span>
                    </label>
                </div>
            </div>
        </div>

        <div id="clmtHall" class="lvl1">
            <label for="clmtHall">Hall</label>

            <div id="clmtHallCntl" class="lvl2">
                <div id="clmtHallRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="clmtHallSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="clmtHallSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>
                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="clmtHallTextTemp" class="text"></div>
                        </div>
                        <div class="indcText">Temperature</div>
                    </div>
                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="clmtHallTextHmdt" class="text"></div>
                        </div>
                        <div class="indcText">Humidity</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="clmtKtch" class="lvl1">
            <label for="clmtKtch">Kitchen</label>

            <div id="clmtKtchCntl" class="lvl2">
                <div id="clmtKtchRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="clmtKtchSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="clmtKtchSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>
                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="clmtKtchTextTemp" class="text"></div>
                        </div>
                        <div class="indcText">Temperature</div>
                    </div>
                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="clmtKtchTextHmdt" class="text"></div>
                        </div>
                        <div class="indcText">Humidity</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="lght" class="main">
        <label for="lght">Lights</label>

        <div id="lghtServ" class="lvl1Serv">
            <label for="lghtServ">On / Off</label>
            <div class="swtcBlck">
                <div class="swtcBoxx">
                    <label for="swtcServlghtSwtc" class="swtc">
                        <input type="checkbox" class="checkbox" id="swtcServlghtSwtc">
                        <span class="rondSwtc"></span>
                    </label>
                </div>
            </div>
        </div>

        <div id="lghtHall" class="lvl1">
            <label for="lghtHall">Hall</label>
            <div id="lghtHallCntl" class="lvl2">
                <div id="lghtHallRegl" class="lvl3">

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtHallSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtHallSwtcSwtc" name="lghtHallSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtHallSwtcLghW" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtHallSwtcLghW" name="lghtHallSwtcLghW">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Window</div>
                    </div>
                    <div id="lghtHallSldrBlckLghW" class="sldrBlck">
                        <div id="lghtHallSldrLgWR" class="sldrBoxx"></div>
                        <div id="lghtHallSldrLgWG" class="sldrBoxx"></div>
                        <div id="lghtHallSldrLgWB" class="sldrBoxx"></div>
                        <div id="lghtHallSldrLgWW" class="sldrBoxx"></div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtHallSwtcLgTV" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtHallSwtcLgTV">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">TV</div>
                    </div>
                    <div id="lghtHallSldrLgTV" class="sldrBlck">
                        <div id="lghtHallSldrLgTR" class="sldrBoxx"></div>
                        <div id="lghtHallSldrLgTG" class="sldrBoxx"></div>
                        <div id="lghtHallSldrLgTB" class="sldrBoxx"></div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtHallSwtcWtfl" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtHallSwtcWtfl">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Waterfall</div>
                    </div>
                    <div id="lghtHallSldrBlckWtfl" class="sldrBlck">
                        <div id="lghtHallSldrWtfl" class="sldrBoxx"></div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtHallSwtcSond" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtHallSwtcSond">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Sound</div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtHallSwtcNgSg" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtHallSwtcNgSg" name="lghtHallSwtcNgSg">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Night Sight</div>
                    </div>

                </div>
            </div>
        </div>

        <div id="lghtKtch" class="lvl1">
            <label for="lghtKtch">Kitchen</label>
            <div id="lghtKtchCtrl" class="lvl2">
                <div id="lghtKtchnRegl" class="lvl3">

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtKtchSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtKtchSwtcSwtc" name="lghtKtchSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtKtchSwtcLghW" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtKtchSwtcLghW" name="lghtKtchSwtcLghW">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Window</div>
                    </div>
                    <div id="lghtKtchSldrBlckLghW" class="sldrBlck">
                        <div id="lghtKtchSldrLgWR" class="sldrBoxx"></div>
                        <div id="lghtKtchSldrLgWG" class="sldrBoxx"></div>
                        <div id="lghtKtchSldrLgWB" class="sldrBoxx"></div>
                        <div id="lghtKtchSldrLgWW" class="sldrBoxx"></div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtKtchSwtcWtfl" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtKtchSwtcWtfl" name="lghtKtchSwtcWtfl">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Waterfall</div>
                    </div>
                    <div id="lghtKtchSldrBlckWtfl" class="sldrBlck">
                        <div id="lghtKtchSldrWtfl" class="sldrBoxx"></div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtKtchSwtcSond" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtKtchSwtcSond" name="lghtKtchSwtcSond">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Sound</div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtKtchSwtcLghT" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtKtchSwtcLghT" name="lghtKtchSwtcLghT">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Table</div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtKtchSwtcLghF" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtKtchSwtcLghF">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Floor</div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtKtchSwtcLghC" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtKtchSwtcLghC">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Ceiling</div>
                    </div>

                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="lghtKtchSwtcNgSg" class="swtc">
                                <input type="checkbox" class="checkbox" id="lghtKtchSwtcNgSg" name="lghtKtchSwtcNgSg">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">Night Sight</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="scrt" class="main">
        <label for="scrt">Security</label>

        <div id="scrtServ" class="lvl1Serv">
            <label for="scrtServ">On / Off</label>
            <div class="swtcBlck">
                <div class="swtcBoxx">
                    <label for="swtcServscrtSwtc" class="swtc">
                        <input type="checkbox" class="checkbox" id="swtcServscrtSwtc">
                        <span class="rondSwtc"></span>
                    </label>
                </div>
            </div>
        </div>

        <div id="scrtHall" class="lvl1">
            <label for="scrtHall">Hall</label>
            <div id="scrtHallCntl" class="lvl2">
                <div id="scrtHallRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="scrtHallSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="scrtHallSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="scrtHallIndcBalc" class="indc"></div>
                        </div>
                        <div class="indcText">Balcony</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="scrtHallIndcRoom" class="indc"></div>
                        </div>
                        <div class="indcText">Room</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="scrtKtch" class="lvl1">
            <label for="scrtKtch">Kitchen</label>
            <div id="scrtKtchCntl" class="lvl2">
                <div id="scrtKtchRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="scrtKtchSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="scrtKtchSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="scrtKtchIndcWndw" class="indc"></div>
                        </div>
                        <div class="indcText">Window</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="scrtKtchIndcEntc" class="indc"></div>
                        </div>
                        <div class="indcText">Entrance</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fire" class="main">
        <label for="fire">Fire</label>

        <div id="fireServ" class="lvl1Serv">
            <label for="fireServ">On / Off</label>
            <div class="swtcBlck">
                <div class="swtcBoxx">
                    <label for="swtcServfireSwtc" class="swtc">
                        <input type="checkbox" class="checkbox" id="swtcServfireSwtc">
                        <span class="rondSwtc"></span>
                    </label>
                </div>
            </div>
        </div>

        <div id="fireHall" class="lvl1">
            <label for="fireHall">Hall</label>
            <div id="fireHallCntl" class="lvl2">
                <div id="fireHallRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="fireHallSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="fireHallSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="fireHallIndcRoom" class="indc"></div>
                        </div>
                        <div class="indcText">Room</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="fireKtch" class="lvl1">
            <label for="fireKtch">Kitchen</label>
            <div id="fireKtchCntl" class="lvl2">
                <div id="fireKtchRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="fireKtchSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="fireKtchSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="fireKtchIndcRoom" class="indc"></div>
                        </div>
                        <div class="indcText">Room</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="fireKtchIndcCkng" class="indc"></div>
                        </div>
                        <div class="indcText">Cooking</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="watr" class="main">
        <label for="fire">Water</label>

        <div id="watrServ" class="lvl1Serv">
            <label for="watrServ">On / Off</label>
            <div class="swtcBlck">
                <div class="swtcBoxx">
                    <label for="swtcServwatrSwtc" class="swtc">
                        <input type="checkbox" class="checkbox" id="swtcServwatrSwtc">
                        <span class="rondSwtc"></span>
                    </label>
                </div>
            </div>
        </div>

        <div id="watrKtch" class="lvl1">
            <label for="watrKtch">Kitchen</label>
            <div id="watrKtchCntl" class="lvl2">
                <div id="watrKtchRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="watrKtchSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="watrKtchSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="watrKtchIndc1111" class="indc"></div>
                        </div>
                        <div class="indcText">1111</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="watrKtchIndc2222" class="indc"></div>
                        </div>
                        <div class="indcText">2222</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mntg" class="main">
        <label for="mntg">Monitoring</label>

        <div id="mntgServ" class="lvl1Serv">
            <label for="mntgServ">On / Off</label>
            <div class="swtcBlck">
                <div class="swtcBoxx">
                    <label for="swtcServmntgSwtc" class="swtc">
                        <input type="checkbox" class="checkbox" id="swtcServmntgSwtc">
                        <span class="rondSwtc"></span>
                    </label>
                </div>
            </div>
        </div>

        <div id="mntgHall" class="lvl1">
            <label for="mntgHall">Hall</label>
            <div id="mntgHallCntl" class="lvl2">
                <div id="mntgHallRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="mntgHallSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="mntgHallSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="mntgHallIndcHall" class="indc"></div>
                        </div>
                        <div class="indcText">Hall</div>
                    </div>

                </div>
            </div>
        </div>

        <div id="mntgKtch" class="lvl1">
            <label for="mntgKtch">Kitchen</label>
            <div id="mntgKtchCntl" class="lvl2">
                <div id="mntgKtchRegl" class="lvl3">
                    <div class="swtcBlck">
                        <div class="swtcBoxx">
                            <label for="mntgKtchSwtcSwtc" class="swtc">
                                <input type="checkbox" class="checkbox" id="mntgKtchSwtcSwtc">
                                <span class="rondSwtc"></span>
                            </label>
                        </div>
                        <div class="swtcText">On / Off</div>
                    </div>

                    <div class="indcBlck">
                        <div class="indcBoxx">
                            <div id="mntgKtchIndcKtch" class="indc"></div>
                        </div>
                        <div class="indcText">Kitchen</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="static/jquery-3.4.1.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
    <script src="static/main.js"></script>
    <script src="static/json.js"></script>
    <script src="static/ajax.js"></script>
    <!--<script src="static/hand.js"></script>-->
</body>
</html>