body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #2b2b2b;
    /*text-shadow: 0 0em .5em rgba(245, 245, 245, 1);*/
}
h1 {
    border-bottom: #000000 solid;
    padding: 1em;
}
/*Блок меню "Статус" индикаторы температуры влажности систем охраны*/
#stts {
    font-size: 1.5em;
    text-align: left;
    /*border: .02em solid #0b559b;*/
    background-color: #9c9c9c;
    /*box-shadow: 0 -1em .3em .01em rgba(245, 245, 245, 1);*/
}
.sttsTitl {
    vertical-align: .4em;
    margin: 0 1em 1em;
}
.sttsText {
    margin: 0 .2em 0 1em;
    vertical-align: .4em;
    display: inline-block;
}
/*Блок индикаторов и подписей к ним*/
.indcText {
    margin: 0 .2em 0 1em;
    vertical-align: .4em;
    display: inline-block;
}
.indc {
    border-radius: 50%;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: #9c9c9c;
    margin-left: .1em;
    margin-right: .5em;
    border: .01em solid #dbdbdb;
}
.text {
    font-size: 1.5em;
    display: inline-block;
    height: 2.5em;
    margin: 0em;
    text-align: center;
    vertical-align: middle;
}
.lvl3 .indc {
    width: 2.4em;
    height: 2.4em;
}
.lvl3 .indcText {
    font-size: 1.5em;
    display: inline-block;
    height: 2.5em;
    /*width: 50em;*/
    /*border: solid black;*/
    margin: 0em;
    text-align: center;
    vertical-align: middle;
}
.lvl3 .indcBlck{
    border-bottom: .01em solid whitesmoke;
    padding: 1em;
    display: block;
    box-shadow: none;
}
.lvl3 .indcBoxx{
    margin: 0;
    display: inline-block;
    width: 9em;
}
/*Блок меню "Системы" СВЕТ, Охрана и т.д. */
.main, .stts {
    padding: .2em;
    border: none;
    border-radius: .2em;
    background-color: #dbdbdb;
    text-align: center;
}
/*Подпись блоков меню "Система"*/
.main label {
    font-size: 2.5em;
    color: #2b2b2b;
    text-shadow: 0 0em .3em rgba(245, 245, 245, 1);
}
/*Блок меню "Размещение" кухня, гостиная и т.д.*/
.lvl1, .lvl1Gnrl {
    padding: .2em;
    display: none;
    text-shadow: 0 0em .3em rgba(245, 245, 245, 1);
    background-color: #dbdbdb;
}
.lvl1Gnrl {
   background-color: #9c9c9c;
}
.lvl1Gnrl label {
    color: #dbdbdb;
    text-shadow: 0 0em .3em rgba(245, 245, 245, 1);
}
/*Блок меню "Управления"*/
.lvl2 {
    padding-top: 1.5em;
    display: none;
    background-color: #dbdbdb;
}
/*Блок меню "Управление" Блок "Регулировок"*/
.lvl3 {
    text-align: left;
}
/*Блок меню "Управление" Блок "Кнопок" Блок "Переключатель Подпись"*/
.swtcBlck {
    border-bottom: .01em solid whitesmoke;
    padding: 1em;
    display: block;
    box-shadow: none;
}
/*Блок меню "Управление" Блок "Регулировок" Блок "Переключатель Подпись" Блок внешний "Переключатель" */
.swtcBoxx {
    /*border: solid red;*/
    display: inline-block;
    width: 9em;
    margin: 0;
}
 /*Блок меню "Управление" Блок "Регулировок" Блок "Переключатель Подпись" Блок "Подпись"*/
.swtcText {
    font-size: 1.5em;
    display: inline-block;
    height: 2.5em;
    /*width: 50em;*/
    /*border: solid black;*/
    margin: 0em;
    text-align: center;
    vertical-align: middle;
}

/*Блок Блок меню "Управление" Блок "Регулировок" Блок "Переключатель Подпись" Блок внутрений "Переключатель" Скрытый checkbox*/
.swtc input {
    margin: 0em;
    display: none;
}
/*Блок Блок меню "Управление" Блок "Регулировок" Блок "Переключатель Подпись" Блок внутрений "Переключатель" Фон переключателя*/
.swtc .rondSwtc {
    width: 2em;
    height: 1em;
    border-radius: .95em;
    background-color: #dbdbdb;
    display: inline-block;
    position: relative;
    /*border: .1em solid #ffffff;*/
    transition: .3s;
}
.lvl1Gnrl .swtc .rondSwtc {
    background-color: #9c9c9c;
}
/*Блок Блок меню "Управление" Блок "Регулировок" Блок "Переключатель Подпись" Блок внутрений "Переключатель" Курсор переключателя"*/
.rondSwtc:before {
    content: "";
    position: absolute;
    width: .95em;
    height: .95em;
    top: .02em;
    left: .01em;
    background-color: #ffffff;
    border-radius: 50%;
    transition: .3s;
}
/*Блок Блок меню "Управление" Блок "Регулировок" Блок "Переключатель Подпись" Блок внутрений "Переключатель" Изменение Фона*/
.swtc input:checked + .rondSwtc {
    background-color: #00ad00;
}
/*Блок Блок меню "Управление" Блок "Регулировок" Блок "Переключатель Подпись" Блок внутрений "Переключатель" перемещение Курсора переключателя"*/
.swtc input:checked + .rondSwtc:before {
    left: 1em;
}
/*Блок меню "Управление" Блок "Ползуноков"*/
.sldrBlck {
    padding: 1em;
    border-bottom: .01em solid whitesmoke;
    display: block;
}

/*Блок меню "Управление" Блок "Ползуноков" Блок "Ползунок"*/
.sldrBoxx{
   border-radius: .3em;
   background-color: whitesmoke;
   margin: 6em 2em;
   display: none;
}
/*Блок меню "Управление" Блок "Ползунков" Блок "Цвет"*/
#sliderColor{
    width: 75px;
    height: 75px;
    background-image: none
}
/*Блок меню "Управление" Блок "Ползунков"*/
#lghtKtchSldrLgWR .ui-slider-range, #lghtHallSldrLgWR .ui-slider-range, #lghtHallSldrLgTR .ui-slider-range {
    background-color: #ad0000;
    border-radius: .3em;
}
#lghtKtchSldrLgWR .ui-slider-handle, #lghtHallSldrLgWR .ui-slider-handle, #lghtHallSldrLgTR .ui-slider-handle {
    box-shadow: 0 0 .1em .1em rgba(255, 255, 255, 1);
    border-radius: 1em;
    border: .15em solid #ad0000;
    background-color: #dbdbdb;
}

#lghtKtchSldrLgWG .ui-slider-range, #lghtHallSldrLgWG .ui-slider-range, #lghtHallSldrLgTG .ui-slider-range {
    background-color: #00ad00;
    border-radius: .3em;
}
#lghtKtchSldrLgWG .ui-slider-handle, #lghtHallSldrLgWG .ui-slider-handle, #lghtHallSldrLgTG .ui-slider-handle {
    box-shadow: 0 0 .1em .1em rgba(255, 255, 255, 1);
    border-radius: 1em;
    border: .15em solid #00ad00;
    background-color: #dbdbdb;
}

#lghtKtchSldrLgWB .ui-slider-range, #lghtHallSldrLgWB .ui-slider-range, #lghtHallSldrLgTB .ui-slider-range {
    background-color: #0000ad;
    border-radius: .3em;
}
#lghtKtchSldrLgWB .ui-slider-handle, #lghtHallSldrLgWB .ui-slider-handle, #lghtHallSldrLgTB .ui-slider-handle {
    box-shadow: 0 0 .1em .1em rgba(255, 255, 255, 1);
    border-radius: 1em;
    border: .15em solid #0000ad;
    background-color: #dbdbdb;
}

#lghtKtchSldrLgWW .ui-slider-range, #lghtHallSldrLgWW .ui-slider-range {
    background-color: #efebd8;
    border-radius: .3em;
}
#lghtKtchSldrLgWW .ui-slider-handle, #lghtHallSldrLgWW .ui-slider-handle {
    box-shadow: 0 0 .1em .1em rgba(255, 255, 255, 1);
    border-radius: 1em;
    border: .15em solid #efebd8;
    background-color: #dbdbdb;
}

#lghtKtchSldrWtfl .ui-slider-range, #lghtHallSldrWtfl .ui-slider-range {
    background-color: rgba(255, 255, 255, 1);
    border-radius: .3em;
}
#lghtKtchSldrWtfl .ui-slider-handle, #lghtHallSldrWtfl .ui-slider-handle {
    box-shadow: 0 0 .1em .1em rgba(255, 255, 255, 1);
    border-radius: 1em;
    border: .15em solid #dbdbdb;
    background-color: #dbdbdb;
}

